<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>病历列表</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body class="container">
<br/>
<h1>病历列表</h1>
<br/><br/>
<div class="with:80%">
	<table class="table table-hover">
		<thead>
		<tr>
			<th>#</th>
			<th>疾病名称</th>
			<th>等级</th>
			<th>日期</th>
			<th>编辑</th>
			<th>删除</th>
		</tr>
		</thead>
		<tbody>
		<tr  th:each="caseHistory : ${caseHistoryList}">
			<th scope="row" th:text="${caseHistory.id}">1</th>
			<td th:text="${caseHistory.disease}">neo</td>
			<td th:text="${caseHistory.onset}">6</td>
			<td th:text="${caseHistory.dateTime}">6</td>
			<td><a th:href="@{/case-history/toEdit(id=${caseHistory.id})}">edit</a></td>
			<td><a th:href="@{/case-history/delete(id=${caseHistory.id})}" methods="DELETE">delete</a></td>
		</tr>
		</tbody>
	</table>
</div>
<div class="form-group">
	<div class="col-sm-2 control-label">
		<a href="/toAdd" th:href="@{/case-history/toAdd}" class="btn btn-info">添加新病历</a>
	</div>
</div>

</body>
</html>